# Sample Fusis configuration file

# name = "example"
#
# cluster-mode = "anycast"
#
# join = ["10.0.0.2", "186.23.22.1"]
# data-path = "/etc/fusis"
#

[interfaces]
inbound = "eth0"
outbound = "eth1"

[ipam]
ranges = ["192.168.0.0/28"]

[ports]
raft = 4382
serf = 7946
api = 8000

[metrics]
publisher = "logstash"

  [metrics.params]
  host = "0.0.0.0"
  port = 8989

  [metrics.extras]
  client = "fusis"

[bgp]
as = 100
router-id = "192.168.151.182"

  [[bgp.neighbors]]
  address = "192.168.151.178"
  peer-as = 100


